<div class='index-title-box'>
    <div class='index-title'>
      <p>一桁の足し算</p>
    </div>
</div>
<div class ='question-wrapper'>
  
    <div class='q'>
      <div class='q-title'>
      問１：　
      <% if "#{$sum1.answer}" == @answer1 %>
      <%= "正解" %>
      <% else %>
      <%= "不正解"%>
      <% end %>
      　
      <%= "#{$sum1.text} = #{$sum1.answer} " %>
      <%= "あなたの答え: #{@answer1}" %>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問２：　
      <% if "#{$sum2.answer}" == @answer2 %>
      <%= "正解" %>
      <% else %>
      <%= "不正解"%>
      <% end %>
      　
      <%= "#{$sum2.text} = #{$sum2.answer} "  %>
      <%= "あなたの答え: #{@answer2}"%>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問３：
      <% if "#{$sum3.answer}" == @answer3 %>
      <%= "正解" %>
      <% else %>
      <%= "不正解"%>
      <% end %>
      　
      <%= "#{$sum3.text} = #{$sum3.answer} "  %>
      <%= "あなたの答え: #{@answer3}"%>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問４：
      <% if "#{$sum4.answer}" == @answer4 %>
      <%= "正解" %>
      <% else %>
      <%= "不正解"%>
      <% end %>
      　
      <%= "#{$sum4.text} = #{$sum4.answer} " %>
      <%= "あなたの答え: #{@answer4}"%>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問５：　
      <% if "#{$sum5.answer}" == @answer5 %>
      <%= "正解" %>
      <% else %>
      <%= "不正解"%>
      <% end %>
      　
      <%= "#{$sum5.text} = #{$sum5.answer} "  %>
      <%= "あなたの答え: #{@answer5}"%>
      </div>
    </div> 
    <div class='q'>
      <div class='q-title'>
      あなたの得点は<%= @count %>/5点です
      </div>
    </div> 
    

    
</div>