<div class='index-title-box'>
    <div class='index-title'>
      <p>答え合わせ</p>
    </div>
</div>
<div class ='question-wrapper'>
  
    <div class='q'>
      <div class='q-title'>
      問１：　
      <% if "#{@answer1}" == @user_answer1 %>
      <div class='true'>
        <%= "正解" %>
      </div>      
      <% else %>
      <div class='false'>
        <%= "不正解"%>
      </div>
      <% end %>
      　
      <%= "#{@text1} = #{@answer1} " %>
      <%= "あなたの答え: #{@user_answer1}" %>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問２：　
      <% if "#{@answer2}" == @user_answer2 %>
      <div class='true'>
        <%= "正解" %>
      </div>      
      <% else %>
      <div class='false'>
        <%= "不正解"%>
      </div>
      <% end %>
      　
      <%= "#{@text2} = #{@answer2} "  %>
      <%= "あなたの答え: #{@user_answer2}"%>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問３：
      <% if "#{@answer3}" == @user_answer3 %>
      <div class='true'>
        <%= "正解" %>
      </div>      
      <% else %>
      <div class='false'>
        <%= "不正解"%>
      </div>
      <% end %>
      　
      <%= "#{@text3} = #{@answer3} "  %>
      <%= "あなたの答え: #{@user_answer3}"%>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問４：
      <% if "#{@answer4}" == @user_answer4 %>
      <div class='true'>
        <%= "正解" %>
      </div>      
      <% else %>
      <div class='false'>
        <%= "不正解"%>
      </div>
      <% end %>
      　
      <%= "#{@text4} = #{@answer4} " %>
      <%= "あなたの答え: #{@user_answer4}"%>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問５：　
      <% if "#{@answer5}" == @user_answer5 %>
      <div class='true'>
        <%= "正解" %>
      </div>      
      <% else %>
      <div class='false'>
        <%= "不正解"%>
      </div>
      <% end %>
      　
      <%= "#{@text5} = #{@answer5} "  %>
      <%= "あなたの答え: #{@user_answer5}"%>
      </div>
    </div> 
    <div class='q'>
      <div class='q-title'>
      <% if @count == 5%>
        <div class ='true'>
        おめでとう!!!　　
        </div>
      <% end %>
      あなたの得点は<%= @count %>/5点です
      </div>
    </div> 
    <div class='q'>
      <div class='q-title'>
      <%= link_to"トップページに戻る", root_path, class:'back'%>
      </div>
    </div>

    
</div>