


<div class='index-title-box'>
    <div class='index-title'>
      <p>一桁の足し算(半角で入力して下さい)</p>
    </div>
</div>
<div class ='question-wrapper'>
  <%= form_with url: questions_path, local: true do |form| %>

    <div class='q'>
      <div class='q-title'>
      問１：　
      <%= $sum1.text %>
      <%= form.text_field :answer1 %>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問２：　
      <%= $sum2.text %>
      <%= form.text_field :answer2%>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問３：　
      <%= $sum3.text%>
      <%= form.text_field :answer3 %>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問４：　
      <%= $sum4.text %>
      <%= form.text_field :answer4 %>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問５：　
      <%= $sum5.text %>
      <%= form.text_field :answer5 %>
      </div>
    </div> 

    <div class="answer-submit">
      <%= form.submit "解答する" ,class:"answer-button" %>
      
    </div>
  <% end %>
</div>
