<div class='index-title-box'>
    <div class='index-title'>
      <p>1桁の引き算(半角で入力して下さい)</p>
    </div>
</div>
<div class ='question-wrapper'>
  <%= form_with url: questions_path(q_id: 4), local: true do |form| %>

    <div class='q'>
      <div class='q-title'>
      問１：　
      <%= $sub1.text %> =
      
      <%= form.text_field :answer1 ,class:'answer-form', placeholder:"入力欄"%>
     
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問２：　
      <%= $sub2.text %> =
      <%= form.text_field :answer2 ,class:'answer-form', placeholder:"入力欄"%>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問３：　
      <%= $sub3.text%> =
      <%= form.text_field :answer3 ,class:'answer-form', placeholder:"入力欄" %>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問４：　
      <%= $sub4.text %> =
      <%= form.text_field :answer4 ,class:'answer-form', placeholder:"入力欄" %>
      </div>
    </div>
    <div class='q'>
      <div class='q-title'>
      問５：　
      <%= $sub5.text %> =
      <%= form.text_field :answer5 ,class:'answer-form', placeholder:"入力欄" %>
      </div>
    </div> 
    
    <div class='q'>
      <div class='q-title'>
      <div class="answer-submit">
      <%= form.submit "解答する" ,class:"answer-button" %>
      </div>
    </div> 
    
      
    </div>
  <% end %>
</div>
